<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <!--レビューの一覧ページへ飛べるようにする-->
        <% @impressions.each do |i| %>
          <div class="impression-index-box">
            <div class="impression-index-box-inner">
              <%= attachment_image_tag i.user, :profile_image, size: '50x50' , fallback: "no_image.jpg" %>
              <%= i.user.name %>
              <br>
              <h4><b><%= i.comic.title %></b></h4>
              <%= truncate i.impression, length: 100 %>
              <br><%= link_to "続きを読む", comic_impression_path(@comic, i) %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>