<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="recently-scroll">
			    <% @impressions.each do |i| %>
			    	<div class="recently-box">
			        	<div class="recently-box-inner">
						    <%= attachment_image_tag i.user, :profile_image, size: '40x40' , fallback: "no_image.jpg" %>
						    <%= i.user.name %>
						    <br>
						    <h4><b><%= i.comic.title %></b></h4>
						    <%= simple_format(truncate i.impression, length: 50) %>
						    <br><%= link_to "続きを読む", comic_impression_path(i.comic, i) %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>