<div class="container">
  <div class="row">
  	<div class="col-xs-9">
  		<h3><b><%= @comic.title %></b></h3>
  			<div class="text-right">
    			<%= link_to "作品情報とレビュー一覧に戻る", comic_path(@comic), class: 'btn btn-primary' %>
          <%= link_to "レビュー内容を編集", edit_comic_impression_path(@comic, @impression), class: 'btn btn-success' %>
          <%= link_to "レビュー内容を削除",comic_impression_path(@comic, @impression), method: :delete,"data-confirm" => "本当に消しますか?", class:"btn btn-danger" %>
			  </div>
        <div class="box">
          <div class="box-inner">
  		      <%= attachment_image_tag @user, :profile_image, size: '60x60' , fallback: "no_image.jpg" %>
            <%= @user.name %>
            <br>
  		      <%= @impression.impression %>
          </div>
        </div>
  	</div>
  </div>
</div>