<div class="row">
  <div class="col-md-10 col-md-offset-1">
  	<!--ここで退会済みユーザーか判別-->
    <% if @user.is_status == false %>

      <h2 class="center">退会済みのユーザーです。</h2>

    <% else %>

  	<h3>マイページ</h3>
  	<h4><b>登録情報</b>
  		<%= link_to '編集する', edit_user_path(@user), class:"btn btn-primary btn-sm" %>
  		<%= link_to 'パスワードを変更する', 'パスを入力', class:"btn btn-primary btn-sm" %>
  	</h4>

  	<table class="table table-bordered">
      <tr>
        <th class="active ">ユーザー名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="active">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>

    <h4><b>追加した作品</b>
	    <%= link_to '一覧を見る','パスを入力', class:"btn btn-primary btn-sm" %>
	</h4>

	<h4><b>コメント履歴</b>
		<%= link_to '一覧を見る','パスを入力',class:"btn btn-primary btn-sm" %>
	</h4>

  <% end %>

  </div>
</div>