<div class="container">
  <div class="row">
    <div class="text-right">
      <%= link_to "新しいマンガを追加", new_comic_path, class: 'btn btn-default btn-lg pull-right' %>
    </div>
    
      <h2>人気ランキング</h2>
      <%= render 'rank',comic: @comic %>

    <div class="col-xs-9">
      <h2>マンガタイトル一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
          </tr>
        </thead>

        <tbody>
        <% @comics.each do |comic| %>
            <tr>
              <td>
                <%= attachment_image_tag comic, :image, size: '80x80' , fallback: "no_comic_image.png" %>
              </td>
              <td>
                <%= link_to comic_path(comic) do %>
                <%= comic.title %>
                <% end %>
                </td>
              <td><%= comic.explanation %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>