<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<div class="taglist-border">
				<!-- タグ一覧 -->
				<h3><b>タグ一覧</b></h3>
				<% @tag_list.each do |list| %>
					<div class="label label-default">
						<%= link_to list.tag_name, tag_comics_path(tag_id: list.id),class: "taglink" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-10">
			<div class="taglist-border">
				<h4>
				タグが
					<b>“<%= @tag.tag_name %>”</b>
				のタイトル一覧
				</h4>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">
		    <% @comics.each do |comic| %>
	          <div class="tag-search">
	            <div class="tag-search-inner">
	            	<div class="col-xs-2">
						<%= attachment_image_tag comic, :image, size: '100x150' , fallback: "no_comic_image.png" %>
					</div>
					<div class="col-xs-8">
						<%= link_to comic_path(comic),class: "titlelink-tagsearch" do %>
						<h4><b><%= truncate comic.title, length: 15 %></b></h4>
						<% end %>
					</div>
              		<div class="col-xs-8">
                		<b>作者 : <%= truncate comic.author, length: 15 %></b>
             		</div>
             		<div class="col-xs-12">
						<h5><b>あらすじ・ストーリー</b></h5>
						<div class="well"><%= truncate comic.explanation, length: 150 %></div>
					</div>
			    </div>
			</div>
		    <% end %>
		</div>
	</div>

</div>
