<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <!-- 漫画のタイトルを表示 -->
      <div class="comic-title-show">
        <h3><b><%= @comic.title %></b></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- 漫画の画像を表示 -->
    <div class="col-xs-2">
      <%= attachment_image_tag @comic, :image, size: '150x200' , fallback: "no_comic_image.png" %>
    </div>

    <!-- いいね機能 -->
    <div class="col-xs-2">
      <% if @comic.favorited_by?(current_user) %>
          <i class="fas fa-thumbs-up" aria-hidden="true" style="color: #0072BC;"></i>
          <b><%= @comic.favorites.count %> いいね！</b>
      <% else %>
          <i class="fas fa-thumbs-up-o" aria-hidden="true"></i>
          <b><%= @comic.favorites.count %> いいね！</b>
      <% end %>
    </div>

    <div class="col-xs-3">
      <%= link_to "このマンガの情報を編集", edit_admins_comic_path(@comic), class: 'btn btn-info btn-block' %>
    </div>

    <div class="col-xs-3">
      <%= link_to "このマンガを削除", admins_comic_path(@comic, @impression), method: :delete,"data-confirm" => "本当に消しますか?", class: 'btn btn-danger' %>
    </div>

    <!-- 作者の名前を表示 -->
    <div class="author-name">
      <div class="col-xs-3">
        <b>作者 : <%= @comic.author %></b>
      </div>
    </div>

    <!-- タグ機能 -->
    <div class="tag-comic-show">
      <div class="col-xs-8">
        <b>登録タグ :</b>
        <br>
        <% @comic_tags.each do |tag| %>
          <div class="label label-default">
            <%= link_to tag.tag_name, tag_admins_comics_path(tag_id: tag.id),class: "taglink" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="synopsis">
      <div class="col-xs-10">
        <h4 class="synopsis-border"><b>あらすじ・ストーリー紹介</b></h4>
        <div class="well"><%= @comic.explanation %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">
      <div class="user-review">
        <h3><b>ユーザーからのレビュー</b></h3>
      </div>
      	<!-- ユーザーからのレビュー一覧を表示 -->
        <%= render 'admins/impressions/impression_index', impressions: @impressions %>
    </div>
  </div>

</div>
