<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <!-- 漫画のタイトルを表示 -->
      <h3><b><%= @comic.title %></b></h3>
    </div>
  </div>

  <div class="row">
    <!-- 漫画の画像を表示 -->
    <div class="col-xs-2">
      <%= attachment_image_tag @comic, :image, size: '150x150' , fallback: "no_comic_image.png" %>
    </div>

    <!-- いいね機能 -->
    <div class="col-xs-2">
      <% if @comic.favorited_by?(current_user) %>
        <%= link_to admins_comic_favorites_path(@comic), method: :delete do %>
          <i class="fas fa-thumbs-up" aria-hidden="true" style="color: #0072BC;"></i>
          <%= @comic.favorites.count %> 面白かった
        <% end %>
      <% else %>
        <%= link_to admins_comic_favorites_path(@comic), method: :post do %>
          <i class="fas fa-thumbs-up-o" aria-hidden="true"></i>
          <%= @comic.favorites.count %> 面白かった
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-3">
      <%= link_to "このマンガの情報を編集", edit_admins_comic_path(@comic), class: 'btn btn-info btn-block' %>
    </div>

    <div class="col-xs-3">
      <%= link_to "このマンガを削除", admins_comic_path(@comic, @impression), method: :delete,"data-confirm" => "本当に消しますか?", class: 'btn btn-danger' %>
    </div>

    <!-- タグ機能 -->
    <div class="col-xs-10">
      <b>登録タグ :</b>
      <% @comic_tags.each do |tag| %>
        <%= link_to tag.tag_name, tag_comics_path(tag_id: tag.id) %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">
      <h4><b>ストーリー紹介</b></h4>
      <%= @comic.explanation %>
    </div>
  </div>

	<!-- ユーザーからのレビュー一覧を表示 -->
  <%= render 'admins/impressions/impression_index', impressions: @impressions %>

</div>
