<!DOCTYPE html>
<html>
  <head>
    <title>ComicFind</title>
    <script src="https://kit.fontawesome.com/47e1c7b983.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <ul class="nav navbar-nav navbar-left">
                <% if user_signed_in? %>
                  <%= link_to root_path do %>
                    <%= image_tag 'logo.png',:size => '150x45'  %>
                  <% end %>
                <% elsif admin_signed_in? %>
                  <%= link_to admins_path do %>
                    <%= image_tag 'logo.png',:size => '150x45'  %>
                  <% end %>
                <% else %>
                <%= link_to root_path do %>
                    <%= image_tag 'logo.png',:size => '150x45'  %>
                  <% end %>
                <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li>
                    <%= form_tag(search_path,method: :get) do %>
                    <%= text_field_tag :search,"",placeholder:"タイトル名で検索",class:"search-box" %>
                    <% end %>
                  </li>
                  <li><%= link_to 'マイページ', user_path(current_user) %></li>
                  <li><%= link_to 'マンガタイトル一覧', comics_path %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <% elsif admin_signed_in? %>
                  <li>
                    <%= form_tag(admins_search_path,method: :get) do %>
                    <%= text_field_tag :search,"",placeholder:"検索",class:"search-box" %>
                    <% end %>
                  </li>
                  <li><%= link_to 'マンガタイトル一覧', admins_comics_path %></li>
                  <li><%= link_to 'ユーザー一覧', admins_users_path %></li>
                  <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                <% else %>
                  <li>
                    <%= form_tag(search_path,method: :get) do %>
                    <%= text_field_tag :search,"",placeholder:"タイトル名で検索",class:"search-box" %>
                    <% end %>
                  </li>
                  <li><%= link_to 'マンガタイトル一覧', comics_path %></li>
                  <li><%= link_to '新規登録', new_user_registration_path %></li>
                  <li><%= link_to 'ログイン', new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

  <main>
    <div class="container">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
  </main>

    <footer class="footer">
      <div class="container">

      </div>
    </footer>

  </body>
</html>
