<!DOCTYPE html>
<html>
  <head>
    <title>ComicFind</title>
    <script src="https://kit.fontawesome.com/47e1c7b983.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <ul class="nav navbar-nav navbar-left">
                <%= link_to 'ComicFind', root_path, class: "logo" %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li>
                      <%= form_tag(search_path,method: :get) do %>
                      <%= text_field_tag :search,"",placeholder:"タイトル名を入力してください",class:"search-box" %>
                      <% end %>
                  </li>
                  <li><%= link_to 'マイページ', user_path(current_user) %></li>
                  <li><%= link_to 'マンガタイトル一覧', comics_path %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <% elsif admin_signed_in? %>
                  <li><%= link_to 'マンガタイトル一覧', admins_comics_path %></li>
                  <li><%= link_to 'ユーザー一覧', "パス名が入ります" %></li>
                  <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'マンガタイトル一覧', comics_path %></li>
                  <li><%= link_to '新規登録', new_user_registration_path %></li>
                  <li><%= link_to 'ログイン', new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </main>

  </body>
</html>
